<%= link_to "Add Museum", new_museum_path %>

<ul>
<% museums.each_pair do |region, museums| %>
  <li><%= region %></li>
  <ul>
    <% museums.each do |museum| %>
      <li><%= link_to museum.title, museum_path(museum.id) %></li>
    <% end %>
  </ul>
<% end %>
</ul>